.Admin {
  color: white;
}


.admin--menu{
  background-color: white;
  display: grid;
  text-align: center;
  &__link{
    color: black;
    font-size: 16px;
    text-decoration: none;
   &:hover{
      background-color: $color-pink;
   }
  }
}


@media only screen and (max-width: 700px){
  .admin--menu{
    width: $main-width-mobile;
    margin-left: $main-margin-mobile;
    grid-template-columns: 1fr;
    &__link{
      padding: 10px;
      border-top: 1px solid black;
    }
  }
}

@media only screen and (min-width: 700px) and (max-width: 800px){
  .admin--menu{
    width: $main-width-mobile;
    margin-left: $main-margin-mobile;
    grid-template-columns: 1fr 1fr 1fr;
    &__link{
      padding: 10px;
      border-right: 1px solid black;
    }
  }
}


@media only screen and (min-width: 800px) and (max-width: 1100px){
  .admin--menu{
    width: $main-width-pad;
    margin-left: $main-margin-pad;
    grid-template-columns: 1fr 1fr 1fr;
    &__link{
      padding: 10px;
      border-right: 1px solid black;
    }
  }
}

@media only screen and (min-width: 1100px){
   .admin--menu{
     width: $main-width;
     margin-left: $main-margin;
     grid-template-columns: 1fr 1fr 1fr;
     &__link{
       padding: 10px;
       border-right: 1px solid black;
     }

   }
}
