/* colors */

$color-pink: #FF6D6D;
$color-background: #141538;
$color-grey: #C9C0C0;
$color-purple: #693668;




/* Layout */
$main-width: 60%;
$main-margin: 20%;


$main-width-pad: 80%;
$main-margin-pad: 10%;

$main-width-mobile:90%;
$main-margin-mobile: 5%;
